<!--<div class="container">
  <div class="card" *ngFor="let profile of profiles">
    <img src={{profile.img}} alt="Avatar" style="width:100%">
    <div class="profile">
      <h4><b>{{profile.name}}</b></h4> 
      <p>{{profile.title}}</p> 
    </div>
  </div>
</div>-->
<div class="container">
  <h2 class="Header">DIGIKOR Kutatók</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
  <br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/img/team1.jpg" alt="Jane" style="width:100%">
        <div class="Container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/img/team2.jpg" alt="Mike" style="width:100%">
        <div class="Container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/img/team3.jpg" alt="John" style="width:100%">
        <div class="Container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/img/team1.jpg" alt="Jane" style="width:100%">
        <div class="Container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/img/team2.jpg" alt="Mike" style="width:100%">
        <div class="Container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="assets/img/team3.jpg" alt="John" style="width:100%">
        <div class="Container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="Footer"></div>
</div>