 <div class="parallex">
     <div class="large-hero__text-content">
      <h1>PROJEKTEK</h1>
      <h2>{{ 'DIGIKOR.TITLE' | translate }}</h2>
     <div (click)="scroll(target)"><p #target class="target">”A jó kormányzást megalapozó közszolgálat-fejlesztés” <span class="glyphicon glyphicon-chevron-down"></span></p></div>
  </div>
 </div>
   <div class="container">
   <div class="contentElement">
    <div class="list" *ngFor="let project of projects" (click)="openProject($event)">
      <button class="accordion">{{project.title}}</button>
      <div class="panel">
        <p>{{project.content}}</p>
      </div>
    </div> 
  </div>
  <div class="visualElement">
    <img src="assets/img/digital-society-500.jpg">
  </div>
  <a href="projektek#top" class="btn  btn-lg"><span class="glyphicon glyphicon-chevron-up"></span></a>
 </div>


